body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
	color: #282b2d;
}
#root {
	text-align: left;
	max-width: 62em;
	padding: 0 3em;
	margin: 0 auto;
}
h1{
	font-family: 'Montserrat Subrayada', sans-serif;
}
p {
	font-family: 'Roboto', sans-serif;
	color: #989a9b;
	font-size: 0.9em;
	line-height: 2.5;
}
span {
	font-size: 1.5em;
	font-family: 'Montserrat Subrayada', sans-serif;
	color: #2d3133;
}
